{% extends 'webapp/base.html' %}
{% load static %}

{% block content %}


<div class="row">
  <!--Yield Graph-->
  <div class="col-8">
      <canvas id = "myYieldChart" height = "70%"></canvas>
  </div>
  <!-- Timeframe selector -->
  <div class="col-4">
    <form>
      <div class="form-group">
        <label for="workstation">Pick a timeframe:</label>
        <select class="form-control" id="timeframe">
          <option value="1day">Day</option>
          <option value="1week">Week</option>
          <option value="1month">Month</option>
          <option value="1year">Year</option>
        </select>
      </div>
    </form>
  <!-- % Time on Takt Scorecard % -->
  <div class="row">
    <div class="col-6">
      <div class="card mb-2">
        <div class="card-body">
          <h6 class="card-title text-center"> % Time on Takt</h6>
          <p class="card-text text-center fs-1">{{ metrics.perc_on_takt }}</p>
        </div>
      </div>
    </div> 
    <!-- % Average Time to Solve Problem Scorecard % -->
    <div class="col-6">  
      <div class="card mb-2">
        <div class="card-body">
          <h6 class="card-title text-center">On-Time Delivery</h6>
          <p class="card-text text-center fs-1">{{ metrics.on_time_delivery }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Cost Graph and Lead Time Table-->
<div class="row">
  <div class="col-8">
    <canvas id = "myCostChart" height = "70%"></canvas>
  </div>
  <div class="col-4">
    <table class="table table-striped table-sm table-bordered my-3">
        <thead>
          <tr>
            <th class="text-center" colspan="3">Lead Time</th>
          </tr>
            <tr>
              <th style="width:60%">Serial Number</th>
              <th style="width:40%" colspan="2">Time(days)</th>
            </tr>
        </thead>
    </table>    
  </div>                
</div>  

<!-- % Problem Frequency Scorecard % -->
<div class="row">
  <div class="col-4">
    <div class="card mb-2">
        <div class="card-body">
            <h6 class="card-title text-center"> Problem Frequency</h6>
            <p class="card-text text-center fs-1">{{ metrics.prob_freq }}</p>
        </div>
    </div>
  </div> 
<!-- % Average Time to Solve Problem Scorecard % -->
  <div class="col-4">
    <div class="card mb-2">
        <div class="card-body">
            <h6 class="card-title text-center">Average Time to Solve Problem</h6>
            <p class="card-text text-center fs-1">{{ metrics.avg_time_prob_solution }}</p>
        </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript">
    const yieldLabels = ["Jan", "Feb", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    const yieldData = {
      labels: yieldLabels,
      datasets: [{
      data: [75, 76, 80, 81, 85, 85, 86, 82, 80, 75, 80, 81],
      fill: false,
      borderColor: 'rgb(0, 0, 0)',
      tension: 0.1
}]
};
    const yieldConfig = {
      type: 'line',
      data: yieldData,
      options: {
        plugins: {
          legend: {
            display: false
          },
            title: {
              display: true,
              text: 'Yield Overtime',
              font: {
                size: 20
              }
            }
        }
      } 
};

    const costLabels = ["Jan", "Feb", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
      const costData = {
        labels: costLabels,
        datasets: [{
          data: [10000, 10500, 9900, 11000, 9000, 9300, 9500, 9300, 9000, 9400, 8900, 9100],
          fill: false,
          borderColor: 'rgb(0, 0, 0)',
          tension: 0.1
        }]
      };
    const costConfig = {
      type: 'line',
      data: costData,
      options: {
        plugins: {
          legend: {
            display: false
          },
            title: {
                display: true,
                text: 'Cost Overtime',
                font: {
                  size: 20
                }
            }
        }
      }    
};

var YieldChart = new Chart(document.getElementById("myYieldChart"), yieldConfig);
var CostChart = new Chart(document.getElementById("myCostChart"), costConfig);

    </script>


      <!--function updateUnitsSentToClinic() {
        $.ajax({
            url: "{% url 'webapp:data' %}",
            data: {
                'request_type': 'units_sent_to_clinic',
                'workstation': 'Workstation 2',
                'hours_ago': 8
            },
            success: (response) => {
                // Clear out old data
                map.data.datasets[0].data = [];

                // Feed in new map data
                for (var i in response.data) {
                    map.data.datasets[0].data.push({
                        'x': response.data[i]['x_pos'],
                        'y': response.data[i]['y_pos']
                    })
                }

                map.update();
            }
        });
      }

      function updatePercentTimeOnTakt() {
        $.ajax({
          url: "{% url 'webapp:data' %}",
          data: {
            'request_type': 'percent_time_on_takt',
            'timeframe': $("#timeframe").val()
          },
          success: function(response) {
            alert(response);
          }
        });
      }

      document.getElementById("timeframe").addEventListener('change', function(event) {
        updatePercentTimeOnTakt();
      });

      </script>
-->
{% endblock scripts %}